/data
/.fleet
/.idea
/.vscode
/logs

/src/.phpunit.cache
/src/node_modules
/src/bin
/src/public/build
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
/src/.env
/src/.env.backup
/src/.env.testing
/src/.env.production
/src/.phpunit.result.cache
/src/var

/storage/*
!/storage/.gitignore
!/storage/api-docs